/* GLOBAL */

html {
  scroll-behavior: smooth;
  background: rgb(231, 231, 231);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", cursive;
}

/* Navbar navbar */
/* Entire navbar - making it look good */

.navbar-wrap {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  /* on top */
  z-index: 2;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  /* Transparent */
  background-color: #ffffff;
  filter: alpha(opacity=95);
  /* going to show on top */
  z-index: 0;
}

nav div ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav div ul li a {
  margin-left: 10px;
  margin-right: 10px;
}

/* Logo style */
nav div h1 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav div h1 a:hover {
  color: black;
}

/* Links  */
nav div ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.25s ease;
  font-weight: 500;
}

nav div ul li a:hover {
  color: black;
}

/* This is the other things */

.container {
  margin: auto;
  margin-top: 80px;
  width: 70%;
  /* border: 1px solid black; */
  /* Padding gall around */
  padding: 10px;
}

/* Main content flex area */
/* Main content flex area */
/* Main content flex area */
.content-flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.stories-cards-container {
  flex-basis: 60%;
  width: 60%;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}

.recommendations-container {
  position: sticky;
  top: 70px;
  flex-basis: 35.6%;
  height: 600px;
  background: rgba(255, 255, 255, 0);
  /* internal padding */
  padding: 10px;
  /* shitty but works  */
  margin-left: 10px;
}

/* Styling stories */
/* Styling stories */
/* Styling stories */
.stories-section-container {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  width: 100%;
  /* Same height as the stories from the top of the stories card container */
  margin-bottom: 20px;
}

/* Hide scrollbar, keep the function of it */
.stories-section-container::-webkit-scrollbar {
  display: none;
}

.stories-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 5rem;
  grid-gap: 0.2rem;
  /* hide overflow */
}

.stories-container-content {
  display: grid;
  grid-gap: 0.2rem;
  margin: 0px;
  text-align: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.image-container {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, rgb(255, 172, 17), rgb(255, 54, 161));
}

.story-username-container {
  font-size: x-small;
}

.profile-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(42%);
}

/* Recommendations area */
/* Recommendations area */
/* Recommendations area */

/* PROFILE ABOVE SUGGESTIONS */
.profile-container-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  text-align: left;
  cursor: pointer;
  user-select: none;
  /* no transitions here */
}

.profile-image-container {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.main-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(42%);
}

.profile-username-suggested-container {
  margin-left: 0.25rem;
  position: relative;
  display: inline-block;
}

.profile-username-container {
  font-size: large;
}

/* RECOMMENDATION AREA */

.suggestions-banner {
  color: rgb(90, 90, 90);
  font-weight: 500;
  font-size: larger;
  margin-bottom: -20px !important; /* Shitty, but need the margin here to be smaller */
}

.recommendations-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 4rem;
  grid-gap: 0rem;
  align-items: center;
}

.recommendations-container-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  text-align: left;
  cursor: pointer;
  user-select: none;
  /* no transitions here */
}

.recommendations-image-container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.recommendations-username-suggested-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.25rem;
  position: relative;
  display: inline-block;
}

.recommendations-username-container {
  font-size: medium;
}

.recommendations-suggested-container {
  font-size: small;
}

.recommendations-follow-container {
  margin-left: auto;
}

.recommendations-follow-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 179, 255);
  margin-left: 5px;
  width: 70px;
  height: 30px;
  border-radius: 5%;
  cursor: pointer;
}

.recommendations-unfollow-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 179, 255);
  margin-left: 5px;
  width: 70px;
  height: 30px;
  border-radius: 5%;
  cursor: pointer;
}

/* Styling  main post area */
/* Styling  main post area */
/* Styling  main post area */
.post {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
}

.info {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}

.username {
  width: auto;
  font-weight: 600;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.options {
  height: 20px;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
}

.info .profile-pic img {
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.likes {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  margin-bottom: -5px;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 5px;
}

.comment {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.comment span {
  font-weight: bold;
  margin-right: 5px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.load-more {
  color: rgba(0, 91, 194, 0.669);
  font-size: 12px;
  cursor: pointer;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* heart icon */
.heart-icon {
  content: url("https://cdn-icons-png.flaticon.com/128/1077/1077035.png");
}

.heart-icon-filled {
  content: url("https://cdn-icons-png.flaticon.com/128/2107/2107845.png");
}

/* bookmark icon */
.bookmark-icon {
  content: url("https://cdn-icons-png.flaticon.com/512/25/25667.png");
}

.bookmark-icon-filled {
  content: url("https://cdn-icons-png.flaticon.com/512/102/102279.png");
}

.icon {
  height: 30px;
}

.comment-box {
  margin-left: 0rem;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
  cursor: pointer;
}

.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.icon.save {
  margin-left: auto;
  margin-right: 0rem;
}

/* MODAL AREA */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on tip top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Custom things */
  border-radius: 5px;
}

.modal-content {
  /* Set this up as a flexbox */
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  /* Other things  */
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Close the modal */
.close {
  color: rgb(119, 119, 119);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.modal-right {
  flex-basis: 30%;
  width: 30%;
  /* setup */
  border: #000 1px solid;
  padding: 1px;
}

.modal-left {
  flex-basis: 70%;
  width: 70%;
  /* setup */
  border: #000 1px solid;
  padding: 1px;
}

/* This is for the close area */
.modal-header {
  margin-right: 5px;
  float: right;
}

.modal-post-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* .modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */

/* Hide the overflow (important!) */
.hide-overflow {
  user-select: none;
  pointer-events: none;
}

/* Hiding recommendations container, and re-sizing everything */
/* Hiding recommendations container, and re-sizing everything */
/* Hiding recommendations container, and re-sizing everything */

@media screen and (max-width: 960px) {
  .recommendations-container {
    display: none;
  }

  .stories-cards-container {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  nav div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav div h1 a {
    font-size: smaller;
  }
}
