<div class="cards-container">
  <!-- POST ONE -->
  <!-- POST ONE -->
  <!-- POST ONE -->
  {%for i in range(posts|length)%}
  <div class="post">
    <div class="info">
      <div class="user">
        <div>
          <img
            class="profile-pic"
            src="{{posts[i].user.profile_url}}"
            alt="The profile image of the poster"
          />
        </div>
        <p class="username">{{posts[i].user.username}}</p>
      </div>
      <img
        src="https://img.icons8.com/material-outlined/344/menu-2.png"
        class="options"
        alt="Individual post options"
      />
    </div>
    <img
      src="{{posts[i].user.image_url}}"
      class="post-image"
      alt="Poster's posted image"
    />
    <div class="post-content">
      <div class="reaction-wrapper">
        <img
          src="https://img.icons8.com/ios-glyphs/344/like--v2.png"
          class="icon"
          alt="Heart icon - select this to like the post"
        />
        <img
          src="https://img.icons8.com/ios/344/topic.png"
          class="icon"
          alt="Comment icon - select this to leave a comment"
        />
        <img
          src="https://img.icons8.com/ios/344/paper-plane.png"
          class="icon"
          alt="Share icon - select this to select from a menu to share this post to others"
        />
        <img
          src="https://img.icons8.com/ios/344/bookmark-ribbon--v1.png"
          class="save icon"
          alt="Save icon - select this to save this post to your bookmarks"
        />
      </div>
      <p class="likes">{{posts[i].likes}} likes</p>
      <p class="description">
        <span>{{posts[i].user.username}}</span> {{posts[i].title}}
      </p>
      <!-- COMMENTS -->
      <!-- CASE: more than one comment -->
      {%if posts[i].comments is defined and posts[i].comments|length > 1%}
      <div id="comment_section">
        <p class="comment">
          <span>{{posts[i].comments[0].user['username']}}</span>
          {{posts[i].comments[0].text}}
        </p>
        <!-- Button for commenting-->
        <a class="load-more" href="#">Load {{posts[i].comments|length - 1}} more</a>
        <!-- POST TIME -->
        <p class="post-time">2 minutes ago</p>
      </div>
      <!-- CASE: only one comment than one comment -->
      {%elif posts[i].comments is defined and posts[i].comments|length == 1%}
      <div id="comment_section">
        <p class="comment">
          <span>{{posts[i].comments[0].user['username']}}</span>
          {{posts[i].comments[0].text}}
        </p>
        <!-- POST TIME -->
        <p class="post-time">2 minutes ago</p>
      </div>
      {%endif%}
      <div class="comment-wrapper">
        <img
          src="https://img.icons8.com/fluency-systems-regular/344/happy.png"
          class="icon"
          alt=""
        />
        <input type="text" class="comment-box" placeholder="Add a comment..." />
        <button class="comment-btn">Post</button>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
