<div class="recommendations-container">
  <div class="profile-container-content">
    <div class="profile-image-container">
      <img
        class="main-image"
        src={{user.image_url}}
        alt="Profile of logged in user - click to go to their profile"
      />
    </div>
    <div class="profile-username-suggested-container">
      <div class="profile-username-container">{{user.username}}</div>
    </div>
  </div>
  <h1 class="suggestions-banner">Suggestions for you:</h1>
  {%for i in range(0, 5)%}
  <div class="recommendations-container-content">
    <div class="recommendations-image-container">
      <img
        class="profile-image"
        src={{suggestions[i].image_url}}
        alt="Current story preview for {{suggestions[i].username}}"
      />
    </div>
    <div class="recommendations-username-suggested-container">
      <div class="recommendations-username-container">{{suggestions[i].username}}</div>
      <div class="recommendations-suggested-container">Follows you</div>
    </div>
    <div class="recommendations-follow-container">
      <button class="recommendations-follow-button">Follow</button>
    </div>
  </div>
  {%endfor%}
  </div>
</div>
