<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="static/styles.css" />
    <!-- Adding the inter google font (probably my fav :) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Photo App</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <!-- Navigation bar -->
    <!-- Navigation bar -->
    {% include 'includes/navbar.html' %}
    <!-- Main content -->
    <!-- Main content -->
    <!-- Main content -->
    <!-- Stories panel -->
    <section class="container">
      <div class="content-flex">
        <div class="stories-cards-container">
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          {% include 'includes/stories.html' %}
          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
          {% include 'includes/cards.html' %}
        </div>
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        {% include 'includes/suggestions.html' %}
      </div>
    </section>
  </body>
</html>
