<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="static/styles.css" />
    <!-- Adding the inter google font (probably my fav :) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Photo App</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <!-- Main content -->
    <!-- Main content -->
    <!-- Main content -->
    <!-- Stories panel -->
    <section class="container">
      <div class="content-flex">
        <div class="stories-cards-container">
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          <div class="stories-container">
            <div class="stories-container-content">
              <div class="image-container">
                <img
                  class="profile-image"
                  src="https://randomuser.me/api/portraits/men/3.jpg"
                  alt="Image of a user with a story"
                />
              </div>
              <div class="story-username-container">al_newman08</div>
            </div>
            <div class="stories-container-content">
              <div class="image-container">
                <img
                  class="profile-image"
                  src="https://randomuser.me/api/portraits/men/15.jpg"
                  alt="Image of a user with a story"
                />
              </div>
              <div class="story-username-container">stevie-c</div>
            </div>
            <div class="stories-container-content">
              <div class="image-container">
                <img
                  class="profile-image"
                  src="https://randomuser.me/api/portraits/women/86.jpg"
                  alt="Image of a user with a story"
                />
              </div>
              <div class="story-username-container">shannon1989</div>
            </div>
          </div>

          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
          <div class="cards-container">
            <!-- POST ONE -->
            <!-- POST ONE -->
            <!-- POST ONE -->
            <div class="post">
              <div class="info">
                <div class="user">
                  <div>
                    <img
                      class="profile-pic"
                      src="https://randomuser.me/api/portraits/men/4.jpg"
                      alt=""
                    />
                  </div>
                  <p class="username">mnoble</p>
                </div>
                <img
                  src="https://img.icons8.com/material-outlined/344/menu-2.png"
                  class="options"
                  alt=""
                />
              </div>
              <img
                src="https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3164&q=80"
                class="post-image"
                alt=""
              />
              <div class="post-content">
                <div class="reaction-wrapper">
                  <img
                    src="https://img.icons8.com/ios-glyphs/344/like--v2.png"
                    class="icon"
                    alt=""
                  />
                  <img
                    src="https://img.icons8.com/ios/344/topic.png"
                    class="icon"
                    alt=""
                  />
                  <img
                    src="https://img.icons8.com/ios/344/paper-plane.png"
                    class="icon"
                    alt=""
                  />
                  <img
                    src="https://img.icons8.com/ios/344/bookmark-ribbon--v1.png"
                    class="save icon"
                    alt=""
                  />
                </div>
                <p class="likes">1,012 likes</p>
                <p class="description">
                  <span>mnoble</span> He hated that he loved what she hated
                  about hate - Abraham Lincoln, 2007.
                </p>
                <!-- COMMENTS -->
                <p class="comment">
                  <span>harry_hurst</span> I don't think he ever said that (?)
                </p>
                <p class="comment"><span>mason_hartman</span> nah he did</p>
                <!-- POST TIME -->
                <p class="post-time">2 minutes ago</p>
                <div class="comment-wrapper">
                  <img
                    src="https://img.icons8.com/fluency-systems-regular/344/happy.png"
                    class="icon"
                    alt=""
                  />
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Add a comment..."
                  />
                  <button class="comment-btn">Post</button>
                </div>
              </div>
            </div>
            <!-- POST TWO -->
            <!-- POST TWO -->
            <!-- POST TWO -->
          </div>
        </div>
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <div class="recommendations-container">
          <div class="profile-container-content">
            <div class="profile-image-container">
              <img
                class="main-image"
                src="https://randomuser.me/api/portraits/men/4.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="profile-username-suggested-container">
              <div class="profile-username-container">mnoble</div>
            </div>
          </div>
          <h3 class="suggestions-banner">Suggestions for you:</h3>
          <div class="recommendations-container-content">
            <div class="recommendations-image-container">
              <img
                class="profile-image"
                src="https://randomuser.me/api/portraits/women/24.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="recommendations-username-suggested-container">
              <div class="recommendations-username-container">mferguson</div>
              <div class="recommendations-suggested-container">Follows you</div>
            </div>
            <div class="recommendations-follow-container">
              <button class="recommendations-follow-button">Follow</button>
            </div>
          </div>
          <div class="recommendations-container-content">
            <div class="recommendations-image-container">
              <img
                class="profile-image"
                src="https://randomuser.me/api/portraits/men/56.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="recommendations-username-suggested-container">
              <div class="recommendations-username-container">colo456</div>
              <div class="recommendations-suggested-container">
                Followed by shannon1989
              </div>
            </div>
            <div class="recommendations-follow-container">
              <button class="recommendations-follow-button">Follow</button>
            </div>
          </div>
          <div class="recommendations-container-content">
            <div class="recommendations-image-container">
              <img
                class="profile-image"
                src="https://randomuser.me/api/portraits/men/39.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="recommendations-username-suggested-container">
              <div class="recommendations-username-container">
                markus_aldridge
              </div>
              <div class="recommendations-suggested-container">
                Followed by shannon1989
              </div>
            </div>
            <div class="recommendations-follow-container">
              <button class="recommendations-follow-button">Follow</button>
            </div>
          </div>
          <div class="recommendations-container-content">
            <div class="recommendations-image-container">
              <img
                class="profile-image"
                src="https://randomuser.me/api/portraits/men/11.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="recommendations-username-suggested-container">
              <div class="recommendations-username-container">mGreenSpan</div>
              <div class="recommendations-suggested-container">
                Followed by markus_aldridge
              </div>
            </div>
            <div class="recommendations-follow-container">
              <button class="recommendations-follow-button">Follow</button>
            </div>
          </div>
          <div class="recommendations-container-content">
            <div class="recommendations-image-container">
              <img
                class="profile-image"
                src="https://randomuser.me/api/portraits/women/11.jpg"
                alt="Image of a user with a story"
              />
            </div>
            <div class="recommendations-username-suggested-container">
              <div class="recommendations-username-container">j_hulsey</div>
              <div class="recommendations-suggested-container">Follows you</div>
            </div>
            <div class="recommendations-follow-container">
              <button class="recommendations-follow-button">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
