<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Photo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- client-side scripts (separated) -->
    <script lang="text/javascript" src="/static/js/stories.js" defer></script>
    <script
      lang="text/javascript"
      src="/static/js/suggestions.js"
      defer
    ></script>
    </script>
    <script lang="text/javascript" src="/static/js/cards.js" defer></script>
    <!-- end of head -->
  </head>
  <body>
    <!-- Navigation bar -->
    <!-- Navigation bar -->
    <!-- Navigation bar -->
    {% include 'includes/navbar.html' %}
    <!-- Main content -->
    <!-- Main content -->
    <!-- Main content -->
    <!-- Stories panel -->
    <section class="container">
      <div class="content-flex">
        <div class="stories-cards-container">
          <div class="stories-section-container">
            <div class="stories-container"></div>
          </div>
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          <!-- STORIES AREA -->
          <div class="cards-container" data-user-id="{{user.id}}"></div>
          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
          <!-- CARDS AREA -->
        </div>
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <!-- RECOMMENDATIONS AREA -->
        <div class="recommendations-container">
          <!-- CURRENTLY LOGGED IN USER INFORMATION -->
          <!-- CURRENTLY LOGGED IN USER INFORMATION -->
          <!-- CURRENTLY LOGGED IN USER INFORMATION -->
          <!-- CURRENTLY LOGGED IN USER INFORMATION -->
          <div class="profile-container-content">
            <div class="profile-image-container">
              <div class="profile-image-container">
                <img
                  class="main-image"
                  src="{{user.image_url}}"
                  alt="Profile of logged in user - click to go to their profile"
                />
              </div>
              <div class="profile-username-suggested-container">
                <div class="profile-username-container">{{user.username}}</div>
              </div>
            </div>
          </div>
          <!-- SUGGESTIONS AREA -->
          <!-- SUGGESTIONS AREA -->
          <!-- SUGGESTIONS AREA -->
          <!-- SUGGESTIONS AREA -->
          <h1 class="suggestions-banner">Suggestions for you:</h1>
          <div class="here"></div>
        </div>
      </div>
    </section>
  </body>
</html>
